/*****************************************************************
Nuwaitu theme
AUTHOR: Priyandiono
DATE: July 20, 2016
REVISION: 0.0
DESCRIPTION: Nuwaitu theme style, made with heart and love 
******************************************************************/

//GLOBAL STYLE
@import url(https://fonts.googleapis.com/css?family=Josefin+Sans:300,600,400|Roboto:400,300,500);

html, body {
    height: 100%;
    width: 100%;
    background: #F7F7F7;
    color: #484848;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	img{max-width: 100%;}
}
h1,h2,h3,h4,h5,h6 {
   font-family: 'Josefin Sans', sans-serif;
   font-weight: 400;
   margin: 0;
}
figure, p {
    margin: 0;
}
a, a:hover, a:active, a:visited, a:link {
    outline:none;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
	text-decoration:none;
}
 a{
    color: #FA0587;
}
a:hover{
    color: #FF1E96;
}
.clear:before,
.clear:after {
    content: " ";
    display: table;
} 
.clear:after {
   clear: both;
}
.clear {
   *zoom: 1;
}

ol, ul {
    margin: 0;
    padding: 0;
    list-style: none;
}
.form-control {
    border-radius: 0;    
}
.nu-lead{
    font-size: 1.2em;
    margin-bottom: 20px;
}
.navbar-inverse .navbar-toggle {
  border-color: #FA0587;
  background: #FA0587;
}
.navbar-inverse .navbar-toggle:hover,
.navbar-inverse .navbar-toggle:focus {
  background-color: #531FA4;
  border-color: #3F1187;
}
.navbar-inverse .navbar-nav > li > a {
  color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #FA0587;
  background-color: transparent;
}
.navbar-inverse .navbar-nav > .active > a,
.navbar-inverse .navbar-nav > .active > a:hover,
.navbar-inverse .navbar-nav > .active > a:focus {
  color: #FA0587;
  background-color: transparent;
}


.btn span{
    font-size: 12px;
    display: block;
}
.btn:hover,
.btn:focus {
    outline: 0;
}
//btn-pink
.btn-pink{
    background: #FA0587;
    color: #fff;
    padding-left: 20px;
    padding-right: 20px;
}
.btn-pink:hover, .btn-pink:focus, .btn-pink:active{
    background: #FF1E96;
    color: #fff;
}

//btn-grape
.btn-grape{
    background: #49159A;
    color: #fff;
}
.btn-grape:hover, .btn-grape:focus, .btn-grape:active{
    background: #561DB3;
    color: #fff;
}

.anti-round {
     border-radius: 0;    
}
.mar-20 {
    margin-bottom: 20px;    
}
.btn-form{
    position: relative;
    text-align: center;
    margin-top: 20px;
    .btn{
        min-width: 30%;    
    }
}

.block{
    display: block;    
}

//Pulse
@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}



//HEADER
.nu-header-section {
    background: transparent;
    position: absolute;
    width: 100%;
    
    .navbar {
        min-height: 80px;
        padding-top: 15px;
        z-index: 999999;
    }
    
    .navbar-inverse {
        background-color: rgba(0,0,0,0.2);
        border: none;
    }
    
    img.nu-logo {
        height: 60px; 
        width: auto;
        margin-top: -20px;
    }
}

.navbar-inverse .navbar-nav > li > a.login{
    color: #FA0587;
    i{color: #fff;}
}
.navbar-inverse .navbar-nav > li > a:hover.login{
    color: #fff;
}
.navbar-inverse .navbar-nav > li > a.signup{
     color: #FA0587;
     i{color: #fff;}
}
.navbar-inverse .navbar-nav > li > a:hover.signup{
    color: #fff;
}



//HERO
.nu-hero-section {
    background-attachment: fixed;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
.nu-hero-box{
    min-height: 200px;
    padding: 20px 10px;
    color: #fff;
    p{color: #fff;}
}
#nu-hero-bg1 {
    background-image: url(../img/slide-bg.jpg);
}

.nu-hero{
    position: relative;
    padding-top: 60px;
}
.nu-vid1{
    padding-top: 40px;   
    padding-bottom: 20px;
}

//HOMESLIDER
#nu-home-carousel .slider-content {
  height: 20%;
}

#nu-home-carousel .carousel-caption {
  left: 0;
  top: 0;
  z-index: 11;
}

.carousel-caption > div {
  position: absolute;
  top: 60px;
  
}

#nu-home-carousel .carousel-indicators {
  position: absolute;
  bottom: 45%;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}

.nu-slide-text {
   position: relative;
   text-align: center;
   padding-top: 20px;
   h2{
        font-size: 1.6em; 
        font-weight: 300;
        margin-bottom: 20px;
        span{
            display: block;
            font-weight: 400;
        }
      }

}


#nav-arrows > a {
  border: none;
  color: #fff;
  display: block;
  height: 38px;
  line-height: 50px;
  border-radius: 50%;
  background: rgba(0,0,0,0.2);
  position: absolute;
  text-align: center;
  top: 50%;
  width: 38px;
  z-index: 20;
  margin-top: -30px;
}

#nav-arrows > a.sl-prev {
    left: 50px;
    top: 200px;
}

#nav-arrows > a.sl-next {
    right: 50px;
    top: 200px;
}
#nav-arrows > a.sl-prev:hover {
    background-color: #FA0587;
    color: #fff;
}
#nav-arrows > a.sl-next:hover {
    background-color: #FA0587;
    color: #fff;
}
.carousel-indicators li {
    background-color: #fff;
}
.carousel-indicators .active {
  background-color: #FA0587;
  border: 0;
}


//MEMBER PANEL
.nu-member-panel{
    bottom: 15px;
    left: 0;
    position: absolute;
    width: 100%;
    padding: 0;
    
    .nu-panel {
        background: #fff;
        border-radius: 8px;
        min-height: 100px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        
        .head{
            background: #531FA4;
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
            padding: 8px 15px;
            label {
                padding: 0 10px;  
                color: #fff;
            }
        }
        
        .body{
            padding: 10px;
            position: relative;
            h5{
                color: #FA0587;
                font-size: 1.4em;
                margin-bottom: 10px;
            }    
        }
    }
}

.arrow {
    z-index: 2;
    content: " ";
    display: block;
    margin-left: 15px;
    margin-top: -10px;
    position: absolute;
    border-top: 9px solid #531FA4;
    border-right: 9px solid transparent;
    border-left: 9px solid transparent;
}


.owl-member {
    
    .owl-controls{
         .owl-prev{
        	left: -20px;
        	color: #000 !important;
        }
        .owl-next{
        	right: -20px;
        	color: #000 !important;
        }
     }
}


.nu-member-car{
    text-align: center;
    margin: 4px;
    img{
        margin: 0 auto;
        }
        
    .tooltip.bottom {
        margin-top: 25px;    
    }
}

#id-dash-members{
   
    .nu-member-car{
        padding: 10px 0;    
    }
}

.nu-mainbox{
    position: relative;
    margin-bottom: 50px;
    h2{
        margin-bottom: 20px; 
        color: #FA0587;
    }
}

.nu-act-list {
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    padding: 0;
    
    li{
        display: block;
        min-height: 75px;
        margin-bottom: 15px;
        
        .img{
            float: left;
            margin-right: 15px;
        }
        .text{
            min-height: 75px;  
            .time{
                color: #939393;
                margin-bottom: 10px;
            }
        }
    }
}

.next{
    margin-bottom: 30px;    
}

//Sidebar
.nu-sidebar {
    margin-bottom: 40px;    
}
.sidebox {
    margin-bottom: 30px;
    h3{
         margin-bottom: 20px; 
        color: #FA0587;    
    }
}



//ICON SECTION
.nu-icon-section {
    position: relative;
    padding: 30px 0;
    text-align: center;
    background: #fff;
    border-top: 1px solid #CBCBCB;
    
    h1{margin-bottom: 30px; margin-top: 0;}
}

.nu-icon{
    position: relative;
    
    img{
        margin-bottom: 20px;
    }
    h2{
        font-size: 1.6em;
        color: #FA0587;
        margin-bottom: 20px;
    }
    p{
        font-size: 1.2em    
    }
}

//CTA SECTION
.nu-cta-section {
    position: relative;
    border-top: 1px solid #CBCBCB;
    padding: 30px 0;
    text-align: center;
    background: #fff url(../img/dot2.png) repeat;
    h1{
        margin-bottom: 10px; 
        span{
            display: block;
            color: #FA0587;
        }
    }
    
    h4{
        margin-bottom: 20px;
        margin-top: 10px;
    }
    
    p{
        font-size: 1.2em;
        color: #6E6E6E;
        a{margin-top: 20px;}    
    }
}

//JDAku
.nu-jdaku-section{
    position: relative;
    margin-bottom: 30px;
    background: #fff;
    border-top: 1px solid #CBCBCB;
    border-bottom: 1px solid #CBCBCB;
    padding: 30px 0;
    
    .jdaku-title{
        text-align: center;
        padding-bottom: 20px;
        margin-bottom: 20px;
        border-bottom: 2px solid #CBCBCB;
        h1{
            color: #49159A;    
            span{color: #FA0587;}
        }
    }
}

.jdaku-box{
    position: relative;
    h4{
        color: #FA0587;
        margin-bottom: 20px;
    }
}

#id-featured-news{
    
}

//CUSTOM OWL
.owl-theme .owl-controls .owl-buttons div{ 
    border-radius: 0;
	background: transparent;
}
.owl-theme .owl-controls .owl-buttons div:hover{
    opacity: 1;    
}
.owl-prev,
.owl-next{
	opacity: 0;
	display: block;
	position: absolute;
	top: 15%;
	margin-top: -20px;
	width: 50px;
	height: 50px;
	text-align: center;
	color: #fff;
    z-index: 6;  
    i{font-size: 5em;}
}
.owl-prev{
	left: 5px;
}
.owl-next{
	right: 5px;
}

.jdaku-feat-news {
    background: #8B8B8B;
    color: #CBCBCB;
    padding: 0;
    .news-img{
        width: 100%;
        max-height: 167px;
        overflow: hidden;
        
        img{
            width: 100%;   
            
        }
    }
    .news-title {
        padding: 10px 20px;
        h5{
            font-size: 1.8em;
            color: #fff;
            margin-bottom: 10px;
        }
        
        p.readmore{
            text-align: center; 
            margin-top: 10px;
        }
    }
    
}

.jdaku-thumb-news{
    position: relative;
    display: block;
    margin-bottom: 30px;
    .img{
        float: left;
        height: 120px;
        width: 120px;
        overflow: hidden;
        margin-right: 25px;
        
        img{
            width: 100%;    
        }
    }
    
    .title{
        min-height: 120px;
        h5{
            font-size: 1.7em; 
            margin-bottom: 10px;
            a{color: #343434;}
            a:hover{color: #FF1E96;}
        }
       
    }
}


//QUOTES
.nu-quote-section {
    position: relative;
    background: #3A3A3A url(../img/dot.png) repeat;
    padding: 20px;
    
    .nu-quotes{
        text-align: center; 
        h3{
            color: #fff;    
        }
        p{
            font-size: 18px;
            color: #DA0B77;
            strong {
                color: #FF1E96;
                font-weight: 400;
            }
        }
    }
}


//MAIN STYLE
.nu-main-wrapper {
    
}

//Page header
.nu-main-header {
    position: relative;
    background: #49159A url(../img/dot2.png) repeat;
    color: #fff;
    min-height: 80px;
    
    h1{
        font-size: 3.3em; 
        padding-top: 2.5em;
        padding-bottom: .6em;
    }
}

//Page wrapper
.nu-main-body {
    position: relative;  
    padding: 40px 0;
}

//Panel
.nu-panel {
    margin-top: 30px;
    margin-bottom: 20px;
    color: #3F1187;
    
    legend{
        color: #DA0B77;
        text-align: center;
    }
}

//Login
.nu-login {
       background: #F7F7F7 url(../img/patern.png) repeat;
}

.login-des {
      margin-top: -5px;
    img{
        margin-bottom: 15px;   
        margin-left: auto;
        margin-right: auto;
    }
    h3{
        color: #3F1187;
        font-size: 1.4em;
    }    
}

.modal{
     z-index: 6666666;    
}
.modal-header{
    background: #3F1187;
    border-bottom: 1px solid #7D49D1;
    color: #fff;
}
.modal-content {
    border-radius: 0;    
}

.nu-plus-des {
    
    h3{
        margin-bottom: 28px;    
    }    
}

//Quize
.nu-form-head{
    color: #31708f;
    background-color: #d9edf7;
    padding: 15px;
    text-align: center;
    font-size: 1.2em;
}
.nu-form-box {
    background: #FBFBFB;
    padding: 10px 5px;
    margin-bottom: 20px;
}
.nu-search-box {
    background: #FBFBFB;
    padding: 10px 5px;
    margin-bottom: 20px;    
}
.nu-alert {
    background: #B286F9;
    text-align: center;
    color: #531FA4;
    padding: 10px 5px;
    margin-bottom: 20px;
    font-weight: bold;
}
legend.nu-legend {
    color: #FA0587;
    padding-top: 20px;
    border-color: #FFCBE7;
}

.nu-points{
    position: relative;
    text-align: center;
    margin-bottom: 20px;
    h3{
        color: #FA0587;
        margin-bottom: 10px;
    }
    .thepoint{
        height: 175px;
        width: 175px;
        border-radius: 50%;
        background: #531FA4;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        vertical-align: middle;
        font-size: 3em;
        line-height: 175px;
        margin-bottom: 10px;
    }
}
.nu-point-vid{
    margin-bottom: 10px;    
}

.nu-price-wrap{
    border-top: 2px solid #fff;
    margin-top: 50px;
    padding: 30px 0;
    
    .price-title{
        text-align: center;
        margin-bottom: 50px;
    }
}

//PRICING TABLE
.nu-pricing{
    text-align: center;
    background: #fff;
    
    .head-kprice{
        background: #FA0587;
        color: #fff;
        margin-bottom: 0;
        height: 60px;
        
        h3{padding-top: 20px;}
        .nu-price-icon{
               display: block;
              text-align: center;
              background: #49159A;
              height: 60px;
              width: 60px;
              font-size: 20px;
              padding-top: 20px;
              top: 0;
              position: absolute;
            }
        
        }
    .body-kprice{
        padding: 10px;
        margin: 0;
        background: #fff;
        p{
            padding-bottom: 10px;
        .nu-pricetag{
            font-size: 30px;
            }
        }
        .nu-feat-list{
            list-style: none;
            margin: 0;
            padding: 0;
            border-top: 2px solid #FA0587;
            li{
                border-bottom: 1px solid #C9C9C9;
                padding: 10px;
                font-size: 16px;
                text-align: left;
                }
            }
        }
    .footer-kprice{
        .btn{border-radius: 0;}
        }
}
.hvr-float-shadow {
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  position: relative;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-float-shadow:before {
  pointer-events: none;
  position: absolute;
  z-index: -1;
  content: '';
  top: 100%;
  left: 0%;
  height: 10px;
  width: 100%;
  opacity: 0;
  background: -webkit-radial-gradient(center, ellipse, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  background: radial-gradient(ellipse at center, rgba(0, 0, 0, 0.35) 0%, rgba(0, 0, 0, 0) 80%);
  /* W3C */
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform, opacity;
  transition-property: transform, opacity;
}
.hvr-float-shadow:hover, .hvr-float-shadow:focus, .hvr-float-shadow:active {
  -webkit-transform: translateY(-5px);
  transform: translateY(-5px);
  /* move the element up by 5px */
}
.hvr-float-shadow:hover:before, .hvr-float-shadow:focus:before, .hvr-float-shadow:active:before {
  opacity: 1;
  -webkit-transform: translateY(5px);
  transform: translateY(5px);
  /* move the element down by 5px (it will stay in place because it's attached to the element that also moves up 5px) */
}

//User thumb
.nu-user-thumb {
    position: relative;
    text-align: center;
    background: #FBFBFB;
    padding: 15px;
    margin-bottom: 30px;

   .caption {
        position:absolute;
        top:0;
        right:0;
        background:rgba(63, 17, 135, 0.9);
        width:100%;
        height:100%;
        padding:2%;
        display: none;
        text-align: center;
        color:#fff !important;
        z-index:2;
         h5{
                font-size: 1.2em;
                color: #FA0587;
            }
        p{
            margin-bottom: 5px;    
        }
      }
      
   .image {
        
        img{
            height: 150px;
            width: 150px;
            border-radius: 50%;
            margin-bottom: 10px;
        }
        p{
            font-size: 1.4em;
            color: #fff;
            background: #FA0587;
            span{
                display: block;
                font-size: 0.7em;
                color: #FBE0F4;
                padding-bottom: 5px;
            }
        }
      }
   
}

.checkbox{
    padding-top: 10px;    
}


//Short-list
.nu-short-list{
    position: relative;
    
    li{
        min-height: 75px;
        margin-bottom: 5px;
        background: #FFDBEF;
        border-top-left-radius: 50px;
        border-bottom-left-radius: 50px;
        
        .image{
            float: left;
            height: 75px;
            width: 75px;
            overflow: hidden;
            border-radius: 50%;
            background: #ddd;
            margin-right: 10px;
            a {
                img{
                    width: 100%;    
                }
            }
        }
        .text{
            h5{
                font-size: 1.5em;
                color: #531FA4;
                margin-bottom: 5px;
                padding-top: 3px;
                span{
                    display: block;  
                    font-size: 15px;
                    color: #FF1E96;
                }
            }
            a{
                
            }
        }
    }    
}

//Shortlist
.nu-shortlist{
    position: relative;
    background: #E3CAF1;
    margin-bottom: 40px;
}
.shortlist-title {
    background: #3F1187;
    color: #fff;
    vertical-align: middle;
    height: 150px;
    padding: 15px;
    font-size: 1.8em;
    line-height: 120px;
}
.nu-shortlist-thumb {
    text-align: center;
    padding-top: 8px;
    img{
        height: 75px;
        width: 75px;
        border-radius: 50%;
        border: 3px solid #fff;
    }
    .caption{
        color: #FA0587;
        margin-bottom: 5px;
        p{
            
            span{
                display: block;
                font-size: 11px;
                color: #9C74B3;
            }    
        }
    }
}

//Single User
.nu-user-header {
    position: relative;
    background: #E3CAF1;
    padding: 30px 0;
    
    .img-prof{
        img{
            height: 220px;
            width: 220px;
            border-radius: 50%;
            border: 5px solid #fff;
        }
    }
    .caption{
        margin-bottom: 15px;
        h3{
            font-size: 2em;
            color: #49159A;
            span.online{
                font-size: 16px;
                color: #04E526;
                margin-left: -5px;
            }
            span.offline{
                font-size: 16px;
                color: #E5063A;
                margin-left: -5px;
            }
        }
    }
    .des{
        font-size: 1.3em;
        text-align: justify;
        font-style: italic;
        color: #270650;
    }
}

.tab-box{
    position: relative;
    width: 100%;
    background: #fff;
    padding: 15px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
}

//Gallery
.nu-more{
    display: block;
    margin-top: 15px;
    margin-bottom: 20px;
    margin-left: 5px;
}

//Blog
.blog-box {
    position: relative;
    margin-bottom: 40px;
    
    h3{
        margin-bottom: 10px;
        text-transform: uppercase;
    }
    .bbt-meta{
        margin-bottom: 10px;
        color: #D4C3E7;
    }
    .thumb{
        max-height: 300px;
        overflow: hidden;
        margin-bottom: 10px;
        img{
            width: 100%;
            height: auto;
            vertical-align: middle;
        }
    }
    .caption{
        p{
            font-style: justify;
            margin-bottom: 10px;    
        }    
    }
}

//tag
.nu-widget-tag {   
    ul{
        
        li{
            display: inline-block;
            
            a{
               display: block;
               padding: 7px 15px;
               border: 1px solid #ddd;
               margin-bottom: 5px;
            }
            a:hover{
                border-color: #531FA4; 
                color: #531FA4; 
            }
        }    
    }
}

//kategori
.nu-widget-category {   
    ul{
        
        li{
            display: block;
            
            a{
               display: block;
               padding: 10px 0;
               border-bottom: 1px dotted #ddd;
               i{margin-right: 5px;}
            }
            a:hover{
                border-color: #531FA4; 
                color: #531FA4; 
            }
        }    
    }
}

//Steps
.progress {
    height: 15px;
    position: relative;
    margin: 0 5px 5px 5px;
    
    .progress-type {
        position: absolute;
        left: 0px;
        font-weight: 600;
        font-size: 12px;
        padding: 0px 10px;
        color: rgb(255, 255, 255);
        background-color: rgba(25, 25, 25, 0.2);
    }
    
    .progress-completed {
        position: absolute;
        right: 0px;
        font-weight: 600;
        font-size: 12px;
        padding: 0px 10px;
        color: #3F1187;
    }
}
.progress-bar {
    background-color: #FA0587;
    line-height: 15px;
    font-size: 10px;
}


.step {
     width: 100%;
     position: relative;
     text-align: center;
     color: #666;
     
     .fa{
         font-size: 2em;
         height: 50px;
         width: 50px;
         color: #fff;
         border-radius: 50%;
         line-height: 50px;
         vertical-align: middle;
         background: #B9DDED;
         -webkit-transition: all 0.5s ease 0s;
        -moz-transition: all 0.5s ease 0s;
        -ms-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s;
    }
    
    .active {
        color: #FA0587;
        .fa{
            background-color: #FA0587;
        }
    }
}

.nu-steps{
    width: 13%;    
    display: inline-block;
    text-align: center;
    margin-bottom: 5px;
    font-weight: 500;
    -webkit-transition: all 0.5s ease 0s;
    -moz-transition: all 0.5s ease 0s;
    -ms-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.nu-steps:hover{
    cursor: pointer;
    color: #FA0587;
        .fa{
            background-color: #FA0587;
        }
}

//Dashboard
.nu-profile-das {
    color: #31708f;
    background-color: #d9edf7;
    padding: 30px 0;
    margin-bottom: 10px;
  
}
.nu-stats{
    position: relative;
    margin-bottom: 30px;
    padding: 15px 5px;
    border-top: 1px solid #bce8f1;
    border-bottom: 1px solid #bce8f1;
    background: #D9EEF3;
}
.the-stats{
    margin: 5px;
}


.btn-breadcrumb .btn:not(:last-child):after {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid white;
  position: absolute;
  top: 50%;
  margin-top: -17px;
  left: 100%;
  z-index: 3;
}
.btn-breadcrumb .btn:not(:last-child):before {
  content: " ";
  display: block;
  width: 0;
  height: 0;
  border-top: 17px solid transparent;
  border-bottom: 17px solid transparent;
  border-left: 10px solid rgb(173, 173, 173);
  position: absolute;
  top: 50%;
  margin-top: -17px;
  margin-left: 1px;
  left: 100%;
  z-index: 3;
}

/** The Spacing **/
.btn-breadcrumb .btn {
  padding: 6px 12px 6px 24px;
  border-radius: 0;
  border: none;
}
.btn-breadcrumb .btn:first-child {
  padding: 6px 6px 6px 10px;
}
.btn-breadcrumb .btn:last-child {
  padding: 6px 18px 6px 24px;
}

.btn-breadcrumb .btn.btn-info:not(:last-child):after {
  border-left: 10px solid #5bc0de;
}
.btn-breadcrumb .btn.btn-info:not(:last-child):before {
  border-left: 10px solid #46b8da;
}
.btn-breadcrumb .btn.btn-info:hover:not(:last-child):after {
  border-left: 10px solid #39b3d7;
}

.btn-breadcrumb .btn.btn-info.open:not(:last-child):after {
  border-left: 10px solid #30B0D5;
}	
.btn-breadcrumb .btn.btn-info.open{
    background: #30B0D5; 
}
		

.nu-midcta{
    position: relative;
    background: #fff;
    padding: 15px;
    p{
        margin-bottom: 20px;    
    }
}


.nu-prof-ces{
   background: #FA0587;
   color: #fff;
   text-align: center;
   margin-bottom: 30px;
}

.nu-status{
    padding: 20px 0;
    h3{
        margin-bottom: 10px;    
    }
    .nu-info{
       p.taaruf-date{
           margin-top: 10px;
           margin-bottom: 10px;
           padding: 5px 0;
          border-top: 1px solid #DA0B77;
          border-bottom: 1px solid #DA0B77;
          font-size: 1.1em;
          span{
                display: block; 
             }
          } 
    }
}
.nu-calon{
    background: #ddd;
    position: relative;
    height: 90px;
    margin-bottom: 15px;
    padding: 5px;
    .img75{
        float: left;
        margin-top: 3px;
        margin-right: 7px;
    }  
   .text5{
         min-height: 75px;
         padding-top: 10px;
         font-size: 12px;
      }
   
}
.popover-hover {
   
}
.popover {
    border-radius: 0; 
}
.popover-content {
    color: #B7B7B7;
} 
.popover-title {
    color: #3F1187;
    text-transform: uppercase;
    border-radius: 0;
}

.cal-00{
    background: #FF1E96;
    color: #fff;
    padding: 15px;
    span{
        display: block;
        font-size: 1.3em;
        color: #FB5DB2;
    }
}
.cal-01{
    background: #FFC703;
    color: #fff;
}
.cal-02{
    background: #33A3D7;
    color: #fff;
}
.cal-03{
    background: #02D38A;
    color: #fff;
}
.cal-04{
    background: #F15835;
    color: #fff;
}
.cal-05{
    background: #E5063A;
    color: #fff;
}

.nu-side-profile {
    text-align: center;
    background: #531FA4;
    padding: 15px 10px;
    
    h4,p{
        margin-bottom: 10px;   
        color: #fff;
    }
}

.img75 {
    height: 75px;
    width: 75px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    border: 5px solid #fff;
    margin-bottom: 10px;
    img{
        width: 100%;
       
    }
}

.img100 {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    overflow: hidden;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: 5px solid #fff;
    margin-bottom: 10px;
    img{
        width: 100%;
       
    }
}

.nu-side-info {
    background: #FBFBFB;
    text-align: center;
    padding: 15px;
    margin-bottom: 30px;
    border: 1px solid #EBEBEB;
}

//Stepwizard
.stepwizard-step p {
    margin-top: 10px;
}

.stepwizard-row {
    display: table-row;
}

.stepwizard {
    display: table;
    width: 100%;
    position: relative;
    margin-top: 20px;
    margin-bottom: 30px;
}

.stepwizard-step button[disabled] {
    opacity: 1 !important;
    filter: alpha(opacity=100) !important;
}

.stepwizard-row:before {
    top: 14px;
    bottom: 0;
    position: absolute;
    content: " ";
    width: 100%;
    height: 1px;
    background-color: #ccc;
    z-order: 0;

}

.stepwizard-step {
    display: table-cell;
    text-align: center;
    position: relative;
}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}

.nuembed{
    margin-bottom: 30px;    
}


//FOOTER
.nu-footer-section {
    position: relative;
    padding: 30px 0;
    background: #101010 url(../img/dot.png) repeat;
}
.nu-bottom-box {
    margin-bottom: 20px;
    h4{
        margin-bottom: 20px;
        color: #fff;
    } 
    p{
        margin-bottom: 8px;
        color: #6C6C6C;
    }
}

.nu-social {
    position: relative;
    display: inline-block;
    text-align: center;
    color: #898989;
    width: 30px;
    height: 30px;
    margin-right: 15px;
    border-radius: 20px;
    border: 1px solid #898989;
    a{
        display: block;
        line-height: 30px;  
        color: #898989;
    }
    a:hover {color: #FF1E96;}
}
.nu-social:hover {border-color: #FF1E96;}

.nu-copyright {
    padding-top: 20px;
    border-top: 1px solid #6C6C6C;
    
    .nu-copytext{
        text-align: right;    
    }
}

.nuwaitu-backtop {
    position: absolute;
    bottom: 40px;
    font-size: 2em;
    right: 40px;
    color: #525252;
}


//Media Queries

@media (max-width: 767px) {
  
  //HEADER
    .nu-header-section .navbar{
        padding-bottom: 20px;    
    }
    .navbar-collapse{
        margin-top: 15px;
        }
    .navbar-inverse .navbar-collapse,
    .navbar-inverse .navbar-form {
      border-color: transparent;
    }
    
  
  #nu-home-carousel .carousel-indicators {
        bottom: 10%;  
    }
    .nu-vid1{
        padding-bottom: 0;
        }
     .nu-slide-text{
        margin-left: auto;   
         margin-right: auto;    
    }
    #nu-home-carousel .carousel-caption{
       margin-left: auto; 
       margin-right: auto;
       width: 100%;
       text-align: center;
    }
   .nu-slide-text p {display: none;}
  .nu-member-panel{
     position: relative; 
    }
    
    //MAIN
    .jdaku-box{
        margin-bottom: 20px;    
    }
    .nu-icon{
        margin-bottom: 40px;    
    }
  //FOOTER
  .nu-copyright {
        text-align: center;       
        .nu-copytext {
            text-align: center;
            margin-top: 20px;
        }
    }
}

@media (min-width: 1200px) {
  .container {
    width: 1000px;
  }
}



    
    